body{
	background-color: #f2f2f2;
	padding: 0;
	margin: 0;
}

	.bg-green{
		background-color: green;
	}

	.text-green{
		color: green;
	}
	.text-black{
		color: black;
	}
	
	.center{
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		display: block;
	}
	
	.border{
		border-style: solid;
		border-width: 3px;
	}

	.div{
        box-shadow: 10px 10px 5px grey;
	}
	
	ul{
		list-style-type: circle;
		background: #fefbd8;
		padding: 15px;
	}
	
	ul li{
		background: black;
		margin: 5px;
		border: 1px solid #ddd;
		text-align: center;
	}

	#my-name{
		color: blue;
		font-size: x-large;
		text-align: left;
	}

	span{
		text-align: left;
		margin-left: 0px;
		padding-right: 10%;
	}

	.container{
		width: 80%;
		margin: auto;
		background: white;
		shape-margin: 10px;
		padding-bottom: 10px;
	}

	.container2{
		width: 90%;
		margin: auto;
		padding-bottom: 20px;
	}

	#navbar{
		display: block;
		text-align: left;
		position: fixed;
		top: -1em;
		width: 100%;
	}

	.nav-item{
		all: unset;
	}

	a{
		text-decoration: none;
		color: #fff;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}

	a:hover{
		color: red;
	}

	.a{
		color: blue;
		text-decoration: underline;
	}

	h3{
		font-family: serif, cursive;
		font-size: 24px
	}

	h4{
		font-family: 'Nothing You Could Do', cursive;
	}

	.title{
		font-family: serif, cursive;
		font-size: 40px;
		text-align: center;
		padding-top: 0;
		text-shadow: 10px 10px 5px grey;
	}

	.js_body{
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40vh;
		background-color: black;
	}

	.js{
	    position: auto;
	    font-family: sans-serif;
	    text-transform: uppercase;
	    font-size: 3.8em;
	    letter-spacing: 4px;
	    overflow: hidden;
	    background: linear-gradient(90deg, #000, #fff, #000);
	    background-repeat: no-repeat;
	    background-size: 80%;
	    animation: animate 3s linear infinite;
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: rgba(255, 255, 255, 0);
	}

	@keyframes animate {
		0% {
			background-position: -300%;
		}
		100% {
		    background-position: 300%;
		}
	}

	pre code {
	  background-color: #eee;
	  border: 1px solid #999;
	  display: block;
	  padding: 20px;
	}


